$background-color: #222;

html {
    background: $background-color;
}

body {
    font-family: 'MaisonNeueBold';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    margin: auto;
    cursor: default;
    -webkit-user-select: none;
    color: white;
}

.overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    opacity: 0.95;
    background: $background-color;
    transition: opacity 0.6s cubic-bezier( 0.55, 0, 0.1, 1 ) .4s, visibility 0s linear .6s;

    &.hide {
        visibility: hidden;
        opacity: 0;
    }
}

.wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY( -50% );
}

.container:not( .half ),
.wrapper-half {
    position: relative;
    margin: 20px 5%;
    width: 90%;
    display: inline-block;
}

.wrapper-half {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.container {

    &.half {
        width: 50%;
        margin: 0;
        float: left;
    }

    &.controls {
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    &.track {
        height: 150px;
        width: calc( 90% - 350px );
        margin-left: 5%;
        ::-webkit-scrollbar {
            width: 0 !important;
        }
    }
}

.container-name {
    font-size: 13px;
    padding: 10px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
    z-index: 2;

    span {
        font-family: 'MaisonNeueLight';
    }
}

.button {

    cursor: pointer;
    transition: opacity 0.2s cubic-bezier( 0.55, 0, 0.1, 1 );
    opacity: .4;

    &.active {
        opacity: 1.0;
    }
}

.button-waveform {
    float: right;
}

canvas {
    .graph-keys & {
        top: 1px !important;
    }

    .graph-spectrum &,
    .graph-keys & {
        left: 0;
    }

    .graph-spectrum & {
        top: 0;
    }

    .graph-spectrum & {
        top: 0;
    }

    .track & {
        top: 0;
        bottom: 0;
        margin: auto;
        opacity: .05;
    }
}

.template {
    display: none;
}

.grid {
    line-height: 0;
    position: relative;
    height: 100%;

    .line {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba( 255, 255, 255, 0.1 );

        &.h {
            width: 100%;
            height: 1px;
        }

        &.v {
            width: 1px;
            height: 100%;
        }

        &.half {
            background: rgba( 255, 255, 255, 0.25 );
        }
    }

    .graph-keys & {
        width: 90%;
        height: 120px;
        left: 0;
    }
}

.graph-controls {
    margin-top: 10px;
}

.button-graph {
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    text-transform: uppercase;
    opacity: 0.2;

    &.active {
        opacity: 1.0;
    }
}
