@font-face {
	font-family: 'MaisonNeueBold';
	src: url(../'fonts/MaisonNeueBold.eot');
	src: local('☺'), url('../fonts/MaisonNeueBold.woff') format('woff'), url('../fonts/MaisonNeueBold.ttf') format('truetype'), url('../fonts/MaisonNeueBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MaisonNeueLight';
	src: url('../fonts/MaisonNeueLight.eot');
	src: local('☺'), url('../fonts/MaisonNeueLight.woff') format('woff'), url('../fonts/MaisonNeueLight.ttf') format('truetype'), url('../fonts/MaisonNeueLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MaisonNeueMono';
	src: url('../fonts/MaisonNeueMono.eot');
	src: local('☺'), url('../fonts/MaisonNeueMono.woff') format('woff'), url('../fonts/MaisonNeueMono.ttf') format('truetype'), url('../fonts/MaisonNeueMono.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
