@import 'typography';

body {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-x: hidden;
    margin: auto;
    background: #222222;
    opacity: 1.0;
    font-family: 'MaisonNeueBold';
    color: white;
    padding-bottom: 100px;
}

audio {
	width: 100%;
}

audio::-webkit-media-controls-panel {
	background: none;
}

audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-timeline {
	-webkit-appearance: none;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-mute-button {
	display: none;
}

.mono {
	font-family: "MaisonNeueMono";
	opacity: 0.6;
	font-size: 14px;
}

.container {
	position: relative;
	height: 300px;
	width: 90%;
	margin: auto;

	&:not(.controls) {
		margin: 60px auto;
	}

	&.graph-spectrum {
		height: 300px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}

	&.graph-keys {
		.wrapper {
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}
	}

	&.controls {
		top: 50px;
		position: fixed;
		padding: 30px 20px 15px 20px;
		left: 50px;
		z-index: 1;
		background: #222222;
		opacity: 0.9;
		width: initial;
		height: initial;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}
	&.track {
		height: 200px;
	}
}

.container-name {

	position: absolute;
	top: -20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 13px;
	span {
		font-family: 'MaisonNeueLight'
	}
}

.graph-keys {

	.grid {
		border-left: 1px solid rgba(255, 255, 255, 0.7);
		border-right: 1px solid rgba(255, 255, 255, 0.7);
	}

	canvas {
		top: 1px !important;
	}

	.wrapper {
		position: absolute;
		bottom: 0;
		right: 0;
		height: 50%;
		width: 50%;
	}
}

canvas {

	.graph-spectrum &,
	.graph-keys & {
		left: 0;
		position: absolute;
	}

	.graph-spectrum & {
		top: 0;
	}

	.graph-spectrum & {
		top: 0;
	}

	.track & {
		opacity: 0.2;
	}
}

.template {
	display: none;
}

.key {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 40px;
	opacity: 0.1;
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid white;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	.name {
		position: absolute;
		right: 0;
		text-transform: uppercase;
		letter-spacing: 1px;
		bottom: 0px;
		right: -10px;
		font-size: 13px;
		transform: translateX(100%);
	}

	&.active {
		opacity: 1;
	}
}

.output {

	display: inline-block;
	position: relative;
    margin: 0 30px;
	font-size: 15px;

	.name {
		letter-spacing: 1px;
		margin-top: 10px;
		line-height: 20px;
		text-transform: uppercase;
	}
	.value {
		margin-bottom: 10px;
	}

	.meter {
		position: relative;
		width: 15px;
		height: 100px;
		border: 1px solid white;
	}

	.level {
		height: 0%;
		background: #5AAAFF;
	}

	.threshold,
	.level {
		width: 100%;
		bottom: 0;
		position: absolute;
	}

	.threshold {
		border-top: 1px dashed white;
	}

	.circle {
		height: 30px;
		width: 30px;
		margin: 20px 0;
		border: 1px solid white;
		border-radius: 50%;
		transform: translateX(-25%);
	}
}

.grid {
	position: relative;
	height: 100%;

	.line {
	    position: absolute;
	    top: 0px;
	    height: 1px;
	    width: 100%;
	    background: rgba(255, 255, 255, 0.2);

	    &.white {
	    	background: rgba(255, 255, 255, 0.8);
	    }
	    &.blue {
	    	background: #06407F;
	    }
	}
}

.sequences {
	margin-bottom: 70px;
}

.sequence {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 70%;
    margin: auto;
    background: none;
    opacity: 0.9;

    .name {
    	position: absolute;
    	bottom: -40px;
    	text-transform: uppercase;
    	letter-spacing: 1px;
    	font-size: 13px;
    }

    .value {
    	position: absolute;
    	bottom: -24px;
    }

    &.progress {
    	&:before {
    		background: #5AAAFF;
    	}
    	.value {
    		top: -20px;
    	}
    }

    &:before {
    	content: '';
    	width: 1px;
    	height: 100%;
    	background: white;
    	left: 0;
    	top: 0;
    	position: absolute;
    }
}

.bpm-button {
	cursor: pointer;
	text-transform: uppercase;
	border: 1px solid white;
	letter-spacing: 1px;
	padding: 15px 30px;
	display: inline-block;
	font-size: 13px;
}

.dg {

	font-size: 13px;
	font-family: 'MaisonNeueLight' !important;
	letter-spacing: 1px;
	z-index: 2 !important;

	.ac {
		height: 30%;
	}

	.a {
		position: absolute;
		right: 50px;
		top: 50px;
		padding: 20px;
		background: #222222;
		opacity: 0.9;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}

	.closed li.title {
		background-image: none;
		background-color: #222222;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	}

	.slider {
		height: 25px;
	}

	.c input[type=text] {
    	margin-top: 4px;
    	padding: 6px 3px;
	}

	li {

		&.title {
			background-image: none;
			background-color: #222222;
			font-family: 'MaisonNeueBold' !important;
			border-bottom: 1px solid #5AAAFF;
			text-transform: uppercase;
		}

		&:not(.folder) {
			height: 32px;
    		line-height: 34px;
    		background: none;
    	}
	}

	select {

	-webkit-appearance: none;
    float: right;
    height: 27px;
    padding: 0 10px;
    background: none;
    border-radius: 0;
    color: white;
    font-family: "MaisonNeueLight";
    font-size: 14px;

		&:focus {
			outline: none;
		}
	}

	.cr {
		border-left: none !important;
		&.boolean:hover {
	    	background: #191919 !important;
	    }

	}

	.dg.main .close-button {
		display: none;
	}


}



