@charset "UTF-8";
@font-face {
  font-family: 'MaisonNeueBold';
  src: url(../'fonts/MaisonNeueBold.eot');
  src: local('☺'), url('../fonts/MaisonNeueBold.woff') format('woff'), url('../fonts/MaisonNeueBold.ttf') format('truetype'), url('../fonts/MaisonNeueBold.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MaisonNeueLight';
  src: url('../fonts/MaisonNeueLight.eot');
  src: local('☺'), url('../fonts/MaisonNeueLight.woff') format('woff'), url('../fonts/MaisonNeueLight.ttf') format('truetype'), url('../fonts/MaisonNeueLight.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MaisonNeueMono';
  src: url('../fonts/MaisonNeueMono.eot');
  src: local('☺'), url('../fonts/MaisonNeueMono.woff') format('woff'), url('../fonts/MaisonNeueMono.ttf') format('truetype'), url('../fonts/MaisonNeueMono.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

body {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow-x: hidden;
  margin: auto;
  background: #222222;
  opacity: 1.0;
  font-family: 'MaisonNeueBold';
  color: white;
  padding-bottom: 100px; }

audio {
  width: 100%; }

audio::-webkit-media-controls-panel {
  background: none; }

audio::-webkit-media-controls-volume-slider, audio::-webkit-media-controls-timeline {
  -webkit-appearance: none;
  border: 1px solid rgba(255, 255, 255, 0.2); }

audio::-webkit-media-controls-time-remaining-display, audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-mute-button {
  display: none; }

.mono {
  font-family: "MaisonNeueMono";
  opacity: 0.6;
  font-size: 14px; }

.container {
  position: relative;
  height: 300px;
  width: 90%;
  margin: auto; }
  .container:not(.controls) {
    margin: 60px auto; }
  .container.graph-spectrum {
    height: 300px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .container.graph-keys .wrapper {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .container.controls {
    top: 50px;
    position: fixed;
    padding: 30px 20px 15px 20px;
    left: 50px;
    z-index: 1;
    background: #222222;
    opacity: 0.9;
    width: initial;
    height: initial;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .container.track {
    height: 200px; }

.container-name {
  position: absolute;
  top: -20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px; }
  .container-name span {
    font-family: 'MaisonNeueLight'; }

.graph-keys .grid {
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-right: 1px solid rgba(255, 255, 255, 0.7); }
.graph-keys canvas {
  top: 1px !important; }
.graph-keys .wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 50%; }

.graph-spectrum canvas, .graph-keys canvas {
  left: 0;
  position: absolute; }
.graph-spectrum canvas {
  top: 0; }
.graph-spectrum canvas {
  top: 0; }
.track canvas {
  opacity: 0.2; }

.template {
  display: none; }

.key {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  opacity: 0.1;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .key .name {
    position: absolute;
    right: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    bottom: 0px;
    right: -10px;
    font-size: 13px;
    transform: translateX(100%); }
  .key.active {
    opacity: 1; }

.output {
  display: inline-block;
  position: relative;
  margin: 0 30px;
  font-size: 15px; }
  .output .name {
    letter-spacing: 1px;
    margin-top: 10px;
    line-height: 20px;
    text-transform: uppercase; }
  .output .value {
    margin-bottom: 10px; }
  .output .meter {
    position: relative;
    width: 15px;
    height: 100px;
    border: 1px solid white; }
  .output .level {
    height: 0%;
    background: #5AAAFF; }
  .output .threshold, .output .level {
    width: 100%;
    bottom: 0;
    position: absolute; }
  .output .threshold {
    border-top: 1px dashed white; }
  .output .circle {
    height: 30px;
    width: 30px;
    margin: 20px 0;
    border: 1px solid white;
    border-radius: 50%;
    transform: translateX(-25%); }

.grid {
  position: relative;
  height: 100%; }
  .grid .line {
    position: absolute;
    top: 0px;
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.2); }
    .grid .line.white {
      background: rgba(255, 255, 255, 0.8); }
    .grid .line.blue {
      background: #06407F; }

.sequences {
  margin-bottom: 70px; }

.sequence {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70%;
  margin: auto;
  background: none;
  opacity: 0.9; }
  .sequence .name {
    position: absolute;
    bottom: -40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px; }
  .sequence .value {
    position: absolute;
    bottom: -24px; }
  .sequence.progress:before {
    background: #5AAAFF; }
  .sequence.progress .value {
    top: -20px; }
  .sequence:before {
    content: '';
    width: 1px;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    position: absolute; }

.bpm-button {
  cursor: pointer;
  text-transform: uppercase;
  border: 1px solid white;
  letter-spacing: 1px;
  padding: 15px 30px;
  display: inline-block;
  font-size: 13px; }

.dg {
  font-size: 13px;
  font-family: 'MaisonNeueLight' !important;
  letter-spacing: 1px;
  z-index: 2 !important; }
  .dg .ac {
    height: 30%; }
  .dg .a {
    position: absolute;
    right: 50px;
    top: 50px;
    padding: 20px;
    background: #222222;
    opacity: 0.9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .dg .closed li.title {
    background-image: none;
    background-color: #222222;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .dg .slider {
    height: 25px; }
  .dg .c input[type=text] {
    margin-top: 4px;
    padding: 6px 3px; }
  .dg li.title {
    background-image: none;
    background-color: #222222;
    font-family: 'MaisonNeueBold' !important;
    border-bottom: 1px solid #5AAAFF;
    text-transform: uppercase; }
  .dg li:not(.folder) {
    height: 32px;
    line-height: 34px;
    background: none; }
  .dg select {
    -webkit-appearance: none;
    float: right;
    height: 27px;
    padding: 0 10px;
    background: none;
    border-radius: 0;
    color: white;
    font-family: "MaisonNeueLight";
    font-size: 14px; }
    .dg select:focus {
      outline: none; }
  .dg .cr {
    border-left: none !important; }
    .dg .cr.boolean:hover {
      background: #191919 !important; }
  .dg .dg.main .close-button {
    display: none; }
