<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Beats Editor</title>
</head>

<body>

	<div class="container graph-keys">
		<div class="container-name">Value by time /
			<span>Kick</span>
		</div>
		<div class="grid">
			<canvas></canvas>
		</div>
	</div>

	<div class="container controls">
		<div class="template">
			<div class="name"></div>
			<div class="value mono">0.000</div>
			<div class="meter">
				<div class="level"></div>
				<div class="threshold"></div>
				<div class="callback">CB</div>
			</div>
			<div class="circle"></div>
		</div>
	</div>

	<div class="container graph-spectrum">
		<div class="container-name">Spectrum and waveform /
			<span>main analyser</span>
			<span class="button-waveform">Show waveform</span>
		</div>
		<div class="grid">
			<canvas></canvas>
		</div>
		<div class="template">
			<div class="name"></div>
			<div class="handle"></div>
		</div>
	</div>

	<div class="container track">
		<div class="container-name">Sequencer  /
			<span>Buffer not load or loading</span>
		</div>
		<div class="template">
			<div class="name"></div>
			<div class="value mono">0.000</div>
		</div>
		<div class="sequences">
			<canvas></canvas>
			<div class="sequence progress">
				<div class="value mono time">0.000</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="js/demo.bundle.js"></script>
<link rel="stylesheet" href="css/main.css">

</html>
